html, body {
    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin: auto;
    max-width: 1920;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
/* --------------------------------------------------------- 
                            HEADER
----------------------------------------------------------*/
#meny {
    text-align: center;
    color: #212121;
    background: #212121;
    padding: 1%;
    margin-top: 0;
    margin-left: -8;
    margin-right: -8;
}
/* --------------------------------------------------------- 
                         HEADER-LOGO
----------------------------------------------------------*/
#meny img {
    float: left;
    height: auto;
    width: 8%;
}
/* --------------------------------------------------------- 
                Hjem - Butikk - Kundeservice
----------------------------------------------------------*/
#meny a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(250, 250, 250);
    margin: 3%;
}
#meny a:hover{
    color: #ffcb05;
}

/* --------------------------------------------------------- 
                        FORSIDEBILDE
----------------------------------------------------------*/
#bilde {
    width: 110%;
    margin-top: -1%;
}

/* --------------------------------------------------------- 
                  HEADER-TEKST "NYE GADGETS"
----------------------------------------------------------*/
h1 { 
    position: absolute;
    top: 4%; 
    left: 50%; 
    width: 100%; 
    font-size: 400%;
}
/* --------------------------------------------------------- 
                        PRODUKTER-KNAPP
----------------------------------------------------------*/
#banner a {
    position: absolute;
    top: 24%; 
    left: 59.7%; 
    width: auto; 
    font-size: 90%;
    text-decoration: none;
    color: rgb(250, 250, 250);
    background: #212121;
    padding: 1%;
    border-radius: 5px;
}

#banner a:hover {
    color: #ffcb05;
}

#produkter img {
    align-content: center;
    margin-left: 10%;
    width: 20%;
}

#produkter a {
    position: absolute;
    top: 66%; 
    left: 25%; 
    width: auto; 
    font-size: 200%;
    text-decoration: none;
    color: rgb(250, 250, 250);
    background: #212121;
    padding: 0.5%;
    border: 2px;
    border-radius: 5px;
}

#produkter a:hover {
    color: #ffcb05;
}
/* --------------------------------------------------------- 
                            FOOTER
----------------------------------------------------------*/
footer {
    background-color: #212121;
    padding:1.7%;
    position:absolute;
    bottom:0%;
    width:110%;
    height:19%;
    min-height:130px;
    width:100%;
}

/* --------------------------------------------------------- 
                          FOOTER-MEDIA
----------------------------------------------------------*/
#footer media {
    padding-top: 2.3%;
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 20px;
    width: 20px;
    margin: 0.9%;
}
#footer a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}
#footer a:hover {
    color: #ffcb05;
}
#footer media:hover {
    color: #ffcb05;
    cursor: pointer;
}
#footer ul {
    color: rgb(250, 250, 250);
    margin: 1%;
}
/* --------------------------------------------------------- 
                       FOOTER KOLONNER
----------------------------------------------------------*/
.column {
  width:22%;
  background-color:#212121;
  height:100px;
  float:left;
  margin: 20px;
}
#footer p {
    color: rgb(250, 250, 250);
}

/* --------------------------------------------------------- 
                        LOGO PÅ FOOTER
----------------------------------------------------------*/
#logonede {
    height: 40%;
    width: auto;
}