body {
    
}

/* --------------------------------------------------------- 
                        KOLONNE
----------------------------------------------------------*/
.column {
    width:46%;
    background-color:#212121;
    height:30%;
    float:left;
    padding-top: 3%;
    padding-bottom: 15%;
    
    
}
#footer p {
    color: rgb(250, 250, 250);
}

/* --------------------------------------------------------- 
                        LOGO PÅ FOOTER
----------------------------------------------------------*/
#logonede {
    height: 25%;
    width: auto;
}
#footer p {
    color: rgb(250, 250, 250);
    width: 80%;
}
/* --------------------------------------------------------- 
                        MENY OVERST
----------------------------------------------------------*/
#meny img {
    position: absolute;
    height: auto;
    width: 70px;
}
#meny a {
    font-size: 60%;
}


/* --------------------------------------------------------- 
                  BANNER
----------------------------------------------------------*/
#bilde {
    width: 230%;
    margin-top: -3%;
}


/* --------------------------------------------------------- 
                  HEADER-TEKST "NYE GADGETS"
----------------------------------------------------------*/
h1 { 
    position: absolute;
    top: 10%; 
    left: 50%; 
    width: 100%; 
    font-size: 190%;
}