body {
    
}

/* --------------------------------------------------------- 
                        KOLONNE
----------------------------------------------------------*/
.column {
  width:50%;
  background-color:#212121;
  height:99%;
  float:left;
  padding-top: 3%;
  padding-bottom: 15%;
}
#footer p {
    color: rgb(250, 250, 250);
}

/* --------------------------------------------------------- 
                        LOGO PÅ FOOTER
----------------------------------------------------------*/
#logonede {
    height: 40%;
    width: auto;
}
