html, body {
    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin: auto;
    max-width: 1920;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* --------------------------------------------------------- 
                        FORSIDEBILDE
----------------------------------------------------------*/
#bilde {
    width: 100%;
    margin-top: -0.8%;
}

/* --------------------------------------------------------- 
                  HEADER-TEKST "NYE GADGETS"
----------------------------------------------------------*/
h1 { 
    position: absolute;
    top: 17%; 
    left: 40%; 
    color: #212121;
}

/* --------------------------------------------------------- 
                            HEADER
----------------------------------------------------------*/
#meny {
    text-align: center;
    color: #212121;
    background: #212121;
    padding: 1.4%;
    margin-top: 0;
    margin-left: -8;
    margin-right: -8;
}
/* --------------------------------------------------------- 
                         HEADER-LOGO
----------------------------------------------------------*/
#meny img {
    cursor: pointer;
    float: left;
    height: auto;
    width: 8%;
}
/* --------------------------------------------------------- 
                Hjem - Butikk - Kundeservice
----------------------------------------------------------*/
#meny a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(250, 250, 250);
    margin: 3%;
}
#meny a:hover{
    color: #ffcb05;
}

/* --------------------------------------------------------- 
                            FOOTER
----------------------------------------------------------*/
footer {
    background-color: #212121;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 230px;
}

/* --------------------------------------------------------- 
                          FOOTER-MEDIA
----------------------------------------------------------*/
#footer media {
    padding-top: 2.3%;
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 20px;
    width: 20px;
    margin: 0.9%;
}
#footer a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}
#footer a:hover {
    color: #ffcb05;
}
#footer media:hover {
    color: #ffcb05;
    cursor: pointer;
}
#footer ul {
    color: rgb(250, 250, 250);
    margin: 1%;
}
/* --------------------------------------------------------- 
                       FOOTER KOLONNER
----------------------------------------------------------*/
.column {
      margin-top: 18px;
      width:20%;
      background-color:#212121;
      height:80%;
      float:left;
      padding: 0% 2.5%;
}

#footer p {
    color: rgb(250, 250, 250);
}

/* --------------------------------------------------------- 
                        LOGO PÅ FOOTER
----------------------------------------------------------*/
#logonede {
    height: 22%;
    width: auto;
}
