@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    font-family: 'Open Sans';
    max-width: 1920;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.menu { 
    background: #ea2533;
    text-align: center; 
}

.menu ul { 
    display:inline-table; 
}

.menu a {
     color: aliceblue;
     text-decoration: none;
     display:inline;
     margin: 40px;
}

a:hover {
    color: #2e3445;
}

.logo {
    width: 7%;
    position: absolute;
    left: 15%;
    margin-top: 8px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
}

h4 {
    position: absolute;
    font-size: 33px;
    color: #2e3445;
    text-align: center;
    margin-top: 340px;
    left: 800px;
}